  <%= render 'shared/banner' %>
  <%= render 'shared/card2' %>
  <div class="gray-line"></div>
  <%= render 'shared/card' %>
  <div class="gray-line"></div>
  <%= render 'orders/winnercard' %>
  <%= render 'shared/howitworks' %>
<!--   <%= render 'subscribers/index' %> -->

