<%= render 'shared/banner' %>
<div class="container text-center">
  <h1>Recent Winners</h1>
</div>
<%= render 'shared/card' %>
<div class="container text-center">
  <h1>Featured Raffles</h1>
</div>
<%= render 'shared/card' %>
<%= image_tag("infographic.png", height: '600px', width: '100%') %>
<div class="container text-center">
  <h1>Ending Soon</h1>
</div>
<%= render 'shared/card' %>

