<div class="container-showpage" style="background:white">
  <div class="container" style=" background:white">
    <div class="rafflebox">

      <div class="leftbox">
        <div class="image-item">
          <div class="raffle-image" style="background-image: url('<%= cl_image_path @raffle.photo, width: 530, height:400, crop: :pad %>')">
          </div>
        </div>
      </div>

      <div class="rightbox">
        <div class="rightbox-content text-left">
          <div class="your-clock" style="color: #2bde73" " data-countdown="<%= @raffle.end_date.to_i * 1000 %>">
          </div>
          <h2><span><%= @raffle.title %></span></h2>
            <div class="card-bar-show">
              <div class="card-bar-green-show" style="width: <%= (@raffle.available_tickets.to_f / @raffle.ticket_quantity * 100).to_i %>%">
              </div>
              <p class="ticketquantity" style="color:#2bde73"> <strong> <%= @raffle.available_tickets %> / <%= @raffle.ticket_quantity %> tickets left </strong>
              </p>
            </div>
          <%= render 'orders/new' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-white">
<div class="container">
<div class="infobox">
  <div class="leftbox-info">
    <div class="raffle-info-content">
      <h2> Information </h2>
            <p><strong> Category:</strong> <span><%= @raffle.category_name %> <span></p>
            <p><strong> Model: </strong><span><%= @raffle.model %><span></p>
            <p><strong> Brand:</strong> <span><%= @raffle.brand %> <span></p>
            <p><strong> Color: </strong><span> <%= @raffle.color %> <span></p>
             <p><strong> Sold by:</strong> <span><%= link_to "#{@raffle.user.name}", user_path(@user) %></p>
    </div>
  </div>
  <div class="righbox-description">
    <div class="raffle-info-content">
      <h2> Description </h2>
            <p><span><%= @raffle.description %> <span></p>
    </div>
  </div>



        <!--   </div>
            <img src="https://www.aptitudesoftware.com/wp-content/uploads/Round-profile-2.png" style="width:70px;height:70px;">
          </div> -->


</div>
</div>
</div>
