
  <div class="rafflebox">

    <div class="rightbox">

      <div class="raffle-image-box">
        <div class="raffle-image">
          <%= cl_image_tag @raffle.photo, class: "img-show", crop: :fill, style: "width: 300px; height: 300px;" %>
          <div class="raffle-bar">
            <div class="card-bar">
              <div class="card-bar-green">
              </div>
              <div class="tickets-left text-left">
                <p> 1000 / <%= @raffle.max_ticket %> tickets left </p>
              </div>
            </div>
          </div>
          </div>
      </div>

        <div class="raffle-info">
          <div class="raffle-info-content">
            <p> Category: <%= @raffle.category_name %> </p>
            <p> Brand: <%= @raffle.brand %> </p>
            <p> Color: <%= @raffle.color %> </p>
            <p> Description: <%= @raffle.description %> </p>
          </div>
          <div class="user-avatar">
            <img src="https://www.aptitudesoftware.com/wp-content/uploads/Round-profile-2.png" style="width:70px;height:70px;">
            <%= link_to "#{@raffle.user.email}", user_path(@user) %>
          </div>
        </div>
    </div>


    <div class="leftbox">
      <div class="leftbox-content text-center">
        <h2> <%= @raffle.brand %></h2>
        <div class="your-clock" data-ends-in-seconds="<%= (Time.now - @raffle.end_date).to_i %>"></div>
        <%= render 'orders/new' %>
          <div class="your-clock" data-ends-in-seconds="<%= (r.end_date - Time.now).to_i %>"></div>
      </div>
    </div>

  </div>

