<div class="container" id="container-dashboard">
  <div class="userflex">

      <div class="user-info">
        <%= link_to "", edit_user_path(@user) , class: "fa fa-pencil edit-user" %>
        <%= cl_image_tag @user.photo, class: "avatar-usershow", crop: :fill, style: "width: 150px; height: 150px;" %>
        <div class="info-text text-center">
          <h3> <%= @user.name %> </h3>
          <p> <%= @user.location %> </p>
        </div>
      </div>

      <div class="user-raffles">
        <ul class="nav nav-tabs">
          <li class="nav-item">

            <%= link_to "Participant", user_path(@user, tab: "Participant") %>
            <!-- <a class="nav-link active" href="#" id="participant_tab">Participant</a> -->
          </li>
          <li class="nav-item">
            <%= link_to "Organiser", user_path(@user, tab: "Organiser") %>

            <%= link_to "Participant", user_path(@user, tab: "participant") %>
            <!-- <a class="nav-link active" href="#" id="participant_tab">Participant</a> -->
          </li>
          <li class="nav-item">
            <%= link_to "Organiser", user_path(@user, tab: "organiser") %>

          </li>
        </ul>








        <div class="underviews">
          <div class="titles">
            <div class="title green">
              <p>Pending Raffles</p>
            </div>
            <div class="title gray">
              <p>Past Raffles</p>
            </div>
          </div>
          <%= render 'shared/card3', raffles: @raffles %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'dashboard' %>
