<div class="container">
  <div class="userflex">

      <div class="user-info">
        <%= link_to "", edit_user_path(@user) , class: "fa fa-pencil edit-user" %>
        <%= cl_image_tag @user.photo, class: "avatar-usershow", crop: :fill, style: "width: 150px; height: 150px;" %>
        <div class="info-text text-center">
          <h3> <%= @user.name %> </h3>
          <p> <%= @user.location %> </p>
        </div>
      </div>

      <div class="user-raffles">
        <div class="views">
          <p> Views: </p>
          <p class="linka"> Participant </p>
          <p class="linka"> Organizer </p>
        </div>
        <div class="underviews">
          <div class="titles">
            <div class="title green">
              <p>Pending Raffles</p>
            </div>
            <div class="title gray">
              <p>Past Raffles</p>
            </div>
          </div>
          <%= render 'shared/card3' %>
        </div>
      </div>
    </div>
  </div>
</div>

