<div class="row">
 <% raffles.each do |r| %>
  <div class="col-xs-12 col-sm-4 col-lg-3 fullcard">
    <%= link_to raffle_path(r) do %>
      <div class="card3">
        <div class="image">
          <%= cl_image_tag r.photo, id:"dashboard-card-image", class: "img-show", crop: :fill, style: "width: 150px; height: 100px;" %>
           <div class="top-bar-icons">
            <% if r.user == current_user  %>
              <%= link_to "", edit_raffle_path(r) , class: "fa fa-pencil raffle-edit" %>
            <% end %>
          </div>
        </div>
        <div class="card-bar-dashboard">
          <div class="card-bar-green-dashboard" style="width: <%= (r.available_tickets.to_f / r.ticket_quantity * 100).to_i %>%">
          </div>
        </div>
        <div class="card-info">
          <div class="info raffle-name">
            <p> <%= r.title %> </p>
          </div>
            <div class="your-clock" style= "color:#2bde73" data-countdown="<%= r.end_date.to_i * 1000 %>"></div>
        </div>
      </div>
      <% end %>
    </div>
 <% end %>

