<div class="row">
 <% raffles.each do |r| %>
  <div class="col-xs-4 col-sm-3">
    <%= link_to raffle_path(r) do %>
      <div class="card grow">
        <div class="image">
          <%= cl_image_tag r.photo, class: "img-show", crop: :fill, style: "width: 150px; height: 100px;" %>
        </div>
        <div class="top-bar-icons">
        <%= link_to "", edit_raffle_path(r) , class: "fa fa-pencil raffle-edit" %>
        </div>
        <div class="card-bar">
          <div class="card-bar-green">
          </div>
        </div>
        <div class="card-info">
          <div class="info raffle-name">
            <p> <%= r.model %> </p>
          </div>
            <div class="your-clock" style= "color:#2bde73" data-countdown="<%= r.end_date.to_i * 1000 %>"></div>
        </div>
      </div>
    <% end %>
  </div>
 <% end %>

