<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-left">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "LogoRaffler2.png" %>
    <% end %>
    <%= link_to root_path, class: "navbar-raffler-title" do %>
      Raffler
    <% end %>


<!--     <a href= class="navbar-raffler-title">Raffler</a> -->
<!-- <form action="/browse" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <div class="navbar-search">
        <button name="button" type="submit">
          <i class="fa fa-search search-icon"></i>
</button>      </div>
</form> -->

    <%= form_tag browse_path, :method => 'get' do %>
      <div class="navbar-search">
        <input type="text" name="search" id="search" class="navbar-search-field" placeholder="search...">
      </div>
    <% end %>
      </div>


  <!-- Right Navigation -->
    <div class="navbar-wagon-right">
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item navbar-ticket-item">
        <% if user_signed_in? %>
            <div class="navbar-ticket-counter"> # You have 1 ticket
            </div>
            <%= link_to "Buy Tickets", "#", class: "navbar-wagon-item btn-success navbar-buy-tickets" %>
          </div>
          <div class="dropdown">
            <% if current_user.photo? %>
              <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" style="background-image: url('<%= cl_image_path current_user.photo %>')"></div>
            <% else %>
              <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png')"></div>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                 <i class="fa fa-user navbar-dropdown-icon"></i> <%= t(".profile", default: "Dashboard") %>
                <% end %>
              </li>
              <li>
                <%= link_to new_raffle_path do %>
                 <i class="fa fa-plus navbar-dropdown-icon"></i> <%= t(".profile", default: "List a Raffle") %>
                <% end %>
              </li>
              <li>
               <%= link_to root_path do %>
                <i class="fa fa-home navbar-dropdown-icon"></i>  <%= t(".profile", default: "Home") %>
               <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out navbar-dropdown-icon"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        <% else %>
        <a class= "navbar-wagon-item navbar-wagon-link", data-toggle = "modal" , data-target ="#myModal2"> Sign In </a>
        <a class= "navbar-wagon-item navbar-wagon-link", data-toggle = "modal" , data-target ="#myModal"> Sign Up </a>
        <% end %>
      </div>
    </div>

  <!-- Dropdown list appearing on mobile only -->
</div>


<!-- Modal DO NOT TOUCH !! -->

<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'devise/registrations/new' %>
      </div>
    </div>
  </div>
</div>



<div class="modal fade text-center" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'devise/sessions/new' %>
      </div>
    </div>
  </div>
</div>





