<div class="container">
  <div class="ticket-card" style="background-image: url('<%= image_path 'design-raffler.png' %>')";>
  <div class="image-ticket-card">
    <%= image_tag 'ticket.png' %>
  </div>
    <div class="ticket-number">
      <p><strong>Your ticket number is :</strong>
        <br> <%= @order.ticket_number %>
      </p>
      <div class="time-card">
        <p><strong style="line-height: 3;">
          <div class="your-clock" style="color:#2bde73" data-countdown="<%=@raffle.end_date.to_i * 1000 %>">
            </div> </strong></p>
      </div>
    </div>
    <div class="button-conf">
      <%= link_to root_path, class: "navigation-conf-button" do %>
          Homepage
      <% end %>
      <%= link_to browse_path, class: "navigation-conf-button" do %>
          Browse Raffles
      <% end %>
    </div>
  </div>
</div>



