<div class="container" id="winnercontainer">
  <div class="userflex-winners">

    <div class="user-info-winners text-center">
      <%= cl_image_tag @order.user.photo, class: "user-avatar-winners", crop: :fill, style: "width: 150px; height: 150px;" %>
      <div class="info-text4 text-center">
        <h3><strong><%= @order.user.name %></strong></h3>
        <p><%= @order.user.location %></p>
        <div>
          <img class="trophy" src="https://images.emojiterra.com/mozilla/512px/1f3c6.png" alt="trophy-pic" style="width:120px;height:120px;">
          <div class="info-trophy text-center">
            <h3><strong>WINNER</strong></h3>
            <p>RAFFLE NO. <%= @raffle.id %> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="user-info-winners2 text-center">
      <div class="info-text2 text-center">
        <span class="section-line"></span>
        <span class="prize"><strong>PRIZE</strong></span>
      </div>
      <div class="prize-photo">
          <%= cl_image_tag @raffle.photo, crop: :fill %>
      </div>
      <div class="prize-desc">
        <p><%= @raffle.title %></p>
      </div>
        <div class="info-text3 text-center">
          <span class="section-line"></span>
          <span class="prize"><strong>WINNERS COMMENTS</strong></span>
        </div>
          <div class="winners-comments">
            <p>I can't believe i've won my dream car for only a £1!
            <br>I would advise everyone to go on Raffler as dreams do come true!</br></p>
          </div>
      </div>
    </div>
  </div>
</div>






