<div class="payment-content">
  <%= form_tag command_payments_path(@command) do %>
    <article>
      <label class="amount">
        <span>Amount: <%= humanized_money_with_symbol(@command.amount) %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="My Ticket"
      data-email="<%= current_user.email %>"
      data-description="Ticket <%= @command.order_sku %>"
      data-amount="<%= @command.amount_pennies %>"
      data-currency="<%= @command.amount.currency %>"></script>

  <% end %>
</div>
