<div class="container">
  <div class="bigbox">
    <div class="paymentbox text-center">
      <div class="payment-content">
        <% if @command.amount.to_i < 2 %>
        <h2> You are purchasing 1 ticket </h2>
        <% else %>
        <h2> You are purchasing <%= @command.amount.to_i %> tickets </h2>
        <% end %>
      <h1>So close to winning your <br> dream luxury product!</h1>
        <%= form_tag command_payments_path(@command) do %>
          <article>
            <label class="amount">
              <span>Amount: <%= humanized_money_with_symbol(@command.amount) %></span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Ticket"
            data-email="<%= current_user.email %>"
            data-description="Ticket <%= @command.order_sku %>"
            data-amount="<%= @command.amount_cents %>"
            data-currency="<%= @command.amount.currency %>"></script>

        <% end %>
      </div>
    </div>
  </div>
</div>
