<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta tag Facebook Helpers -->
    <meta property="og:title" content="Rafflrs - Win your dream product for only £1"/>
    <meta property="og:url" content="https://rafflrs.com"/>
    <meta property="og:site_name" content="Rafflrs"/>
    <meta property="og:description" content="Rafflrs is the website for you if you want to win your dream car, house, holiday for as little as £1!"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:image" content="https://i.imgur.com/OUVh3mV.png"/>
    <%= favicon_link_tag "LogoRafflerIcon/favicon.ico" %>

    <title>Rafflrs - Win your dream product for only £1!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container-all-pages">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

      <%= yield(:after_js) %>

  </body>
</html>
